{% extends 'base.html' %}

{% block title %}Taisymas{% endblock %}

{% block heading %}Taisymas{% endblock %}

{% block content %}
<h1 class="display-4">{{ order.car.make }} {{ order.car.model }} taisymas</h1>
<p><b>Klientas: </b>
    {% if order.client.profile.photo %}
    <img src="{{ order.client.profile.photo.url }}" class="rounded-circle" width="30px">
    {% endif %}
    {{ order.client }}
</p>
<p><b>Data: </b>{{ order.date }}</p>
<p><b>Terminas: </b>
    <span class="{% if order.is_overdue %}text-danger{% endif %}">
        {{ order.deadline }}
    </span>
</p>
<p><b>Būsena: </b>{{ order.get_status_display }}</p>
{% if order.client == user %}
<div class="my-2">
    <a class="btn btn-warning" href="{% url 'user_orders_update' order.pk %}">Redaguoti</a>
    <a class="btn btn-danger" href="{% url 'user_orders_delete' order.pk %}">Ištrinti</a>
</div>
<div>
    <a class="btn btn-secondary" href="{% url 'user_orderline_create' order.pk %}">Pridėti paslaugą</a>
</div>
{% endif %}
<div class="table-responsive">
<table class="table table-hover">
    <thead>
    <tr>
        <th>Paslauga</th>
        <th>Kaina</th>
        <th>Kiekis</th>
        <th>Suma</th>
        {% if order.client == user %}
        <th></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for line in order.lines.all %}
    <tr>
        <td>{{ line.service.name }}</td>
        <td>{{ line.service.price }}</td>
        <td>{{ line.qty }}</td>
        <td>{{ line.line_sum }}</td>
        {% if order.client == user %}
        <td>
            <a href="{% url 'user_orderline_update' line.pk %}" class="btn btn-warning btn-sm">Redaguoti</a>
            <a href="{% url 'user_orderline_delete' line.pk %}" class="btn btn-danger btn-sm">Ištrinti</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr>
        <th colspan="3">BENDRA SUMA:</th>
        <th>{{ order.total }}</th>
        {% if order.client == user %}
        <th></th>
        {% endif %}
    </tr>
    </tbody>
</table>
</div>
<h3>Komentarai:</h3>
{% if user.is_authenticated %}
<form method="post" class="mb-2">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary">Paskelbti</button>
</form>
{% endif %}
{% for comment in order.comments.all %}
<p>
{% if comment.author.profile.photo %}
    <img src="{{ comment.author.profile.photo.url }}" class="rounded-circle" width="30px">
{% endif %}
<strong>{{ comment.author }}</strong>, <em>{{ comment.date }}</em><br>
    {{ comment.content }}</p>
{% endfor %}
{% endblock %}